<div class="d-flex justify-content-between my-3">
  <h3 class="text-center">Employees List</h3>
  <p-button
    label="Add"
    icon="pi pi-user-plus"
    (onClick)="handleAddModal()"
    severity="success"
  />
</div>

<div class="card">
  <p-table
    #dt
    [value]="store.employeeslist()"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="5"
    [sortField]="dt.sortField"
    [sortOrder]="dt.sortOrder"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    [globalFilterFields]="[
      'employee_name',
      'employee_age',
      'email',
      'contactNumber',
      'updated_time'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (onClick)="clearSort()"
        />
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal(searchValue, 'contains')"
            placeholder="Search keyword"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="employee_name" style="width: 20%" scope="col">
          Name <p-sortIcon field="employee_name" />
        </th>
        <th pSortableColumn="employee_age" style="width: 10%" scope="col">
          Age <p-sortIcon field="employee_age" />
        </th>
        <th pSortableColumn="email" style="width: 30%" scope="col">
          Email <p-sortIcon field="email" />
        </th>
        <th pSortableColumn="contactNumber" style="width: 10%" scope="col">
          Contact <p-sortIcon field="contactNumber" />
        </th>
        <th pSortableColumn="updated_time" style="width: 20%" scope="col">
          Updated <p-sortIcon field="updated_time" />
        </th>
        <th style="width: 10%" scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.employee_name }}</td>
        <td>{{ customer.employee_age }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.contactNumber }}</td>
        <td>{{ customer.updated_time | date : 'medium' }}</td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              (click)="onRowSelect(customer, 'editdetails')"
              class="p-button-rounded p-button-text mr-2"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="onRowSelect(customer, 'deleterecord')"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    [header]="!isSelected ? 'Add Details' : 'Edit Details'"
    [modal]="true"
    [(visible)]="dialogvisible"
    [style]="{ width: '30rem' }"
  >
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm)">
    <div class="d-flex align-items-center gap-3 mb-3">
      <label for="firstname" class="font-semibold w-6rem">First Name</label>
      <input
        pInputText
        id="firstname"
        formControlName="firstname"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="d-flex align-items-center gap-3 mb-3">
      <label for="lastname" class="font-semibold w-6rem">Last Name</label>
      <input
        pInputText
        id="lastname"
        formControlName="lastname"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="d-flex align-items-center gap-3 mb-5">
      <label for="email" class="font-semibold w-6rem">Email</label>
      <input
        pInputText
        id="email"
        formControlName="email"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="d-flex align-items-center gap-3 mb-5">
      <label for="contact" class="font-semibold w-6rem">Contact No</label>
      <input
        pInputText
        id="contact"
        formControlName="contact"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="d-flex align-items-center gap-3 mb-5">
      <label for="dateofbirth" class="font-semibold w-6rem"
        >Date of Birth</label
      >
      <p-calendar
        formControlName="dateofbirth"
        id="dateofbirth"
        dateFormat="dd/mm/yy"
        autocomplete="off"
      />
    </div>
    <div class="d-flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="dialogvisible = false"
      />
      <p-button label="Save" type="submit" (onClick)="dialogvisible = false" />
    </div>
  </form>
  </p-dialog>
</div>
